#message a:hover { text-decoration: underline; /* Add underline on hover */ }
@media (max-width: 600px) {
  body, #message { margin-top: 0; background: white; box-shadow: none; }
  body { border-top: 16px solid #ffa100; }
}
